.banner_background {
  display: flex;
  width: 90%;
  height: 250px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}

.banner_items_position {
  color: white;
  font-size: 45px;
  padding: 10px;
  padding-bottom: 20px;
  z-index: 1;
  position: absolute;
}

.banner_image {
  width: 100%;
}

@media screen and (max-width: 700px) {
  .banner_background {
    height: 100px;
  }

  .banner_items_position {
    font-size: 20px;
  }
}
